/* Navbar */
.navbar{
	margin-bottom: 0;
}

/* Hover dropdown */
@media (min-width:480px){
	.dropdown:hover .dropdown-menu {
	    display: block;
	    margin-top: 0;
	}
}

/* Footer */
.footer{
	background-color: black;
	color: white;
}

.footer .container{
	padding-top: 2em;
	padding-bottom: 2em;
}

.footer .container .container div p{
	margin-top: 2em;
}

/* Font-awesome colors */
.fa-facebook-official{
	color: rgb(55,101,163);
}

.fa-linkedin-square{
	color: rgb(2,116,179);
}

.fa-twitter-square{
	color: rgb(85,172,238);
}

/* Home */
#index-jumbo{
	height: 25em;
	background-image: url("") no-repeat cover center center;
}

#index-jumbo .container div h2, #index-jumbo .container div p, #index-jumbo .container div a{
	margin-bottom: 0;
}

#index-jumbo .container div{
	margin-top: 3em;
}