/* Global */
body{
	font-family: 'Open Sans', sans-serif;
}

/* Navbar */
.navbar{
	margin-bottom: 0;
}

/* Hover dropdown */
@media only screen and (min-width:1024px){
	.dropdown:hover .dropdown-menu {
	    display: block;
	    margin-top: 0;
	}
}

/* Footer */
.footer{
	background-color: black;
	color: white;
	margin-top: 2em;
}

.footer .container{
	padding-top: 2em;
	padding-bottom: 2em;
}

.footer .container .container div p{
	margin-top: 2em;
}

.footer .container div div ul, .footer .container div div div{
	border-right: 1px white solid;
}

/* Font-awesome colors */
.fa-facebook-official{
	color: rgb(55,101,163);
}

.fa-linkedin-square{
	color: rgb(2,116,179);
}

.fa-twitter-square{
	color: rgb(85,172,238);
}

/* Home */
#index-jumbo{
	height: 25em;
	background-image: url("") no-repeat cover center center;
}

#index-jumbo .container div h2, #index-jumbo .container div p, #index-jumbo .container div a{
	margin-bottom: 0;
}

#index-jumbo .container div{
	margin-top: 3em;
}

/* Nav tabs*/
.nav-tabs{
	border-bottom: none;
}

.tab-content{
	padding-top: 2em;
	padding-bottom: 2em;
}

.tab-content{
	border: 1px #DAD7D7 solid;
}

/* Content */
.content{
	min-height: 10em;
	padding-top: 2em;
	padding-bottom: 2em;
}